<%=  form_tag(user_path(@user.id), method: :put) do %>
    <div class="username">
        <%= label_tag("Username: ") %> <br/>
        <%= text_field_tag("username", @user.username) %>
    </div>

    <div class="user-email">
        <%= label_tag("Email: ") %> <br/>
        <%= text_field_tag("email", @user.email) %>
    </div>

    <div class="user-password">
        <%= label_tag("Password: ") %> <br/>
        <%= text_area_tag("password", @user.password) %>
    </div>

    <%= button_tag("Update User") %>
<% end %>
