<h1> <%= link_to("#{@post.title}", "http://#{@post.url}", :target => "_blank") %></h1>
<div class="post-content">
<%= @post.content %>
</div>

<div class="comments-form">
	<h3>Add a Comment</h3>
    <%= form_tag(posts_path(@post.id)) do %>
      <div class="comment-field">
        <%= label_tag("Comment") %>
        <%= text_area_tag("content") %>
      </div>

  	  <%= button_tag("Create Comment!") %>
    <% end %>
</div>

<h3>Comments</h3>
	<div class="comments">
  	<% @post.comments.each do |comment| %>
      <div class="post-comment">
        <%= simple_format(comment.content) %>
      </div>
  	<% end %>
	</div>

<div class="link-options">
	<br />
		<%= link_to "Home", root_path %> | 
		<%= link_to "Edit", edit_post_path %> | 
		<%= link_to "Delete", posts_path(@post), method: :delete %>
</div>
