<!DOCTYPE html>
<html>
<head>
  <title>Forgeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
  	<% if current_user %>
    	<h4>welcome, <%= current_user.username %>!</h4>
      	<%= link_to("Logout", login_path, method: :delete) %>
    <% else %>
      <%= link_to("Signup", new_user_path) %> | 
      <%= link_to("Login", login_path) %>
    <% end %>
  </nav>

  <% if flash[:notice] %>
    <h3 class="alert"><%= flash[:notice] %></h3>
  <% end %>


<%= yield %>

</body>
</html>
